*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-image: url(/PAGINA/imagenes/logoclub.jpg);
    background-size: auto;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 2;
}

nav{
    background:#dc1d1d;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}

.logo{
    height: 40px;
    width: 500px;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #090978;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 1065px){
    .enlace{
        display: none;
    }
}

@media (max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    nav ul li{
        display: none;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}






*,
*::before,
*::after {
box-sizing: border-box;
}


body {
color: #272727;font-family: 'Quicksand', serif;
font-style: normal;
font-weight: 400;
letter-spacing: 0;
padding: 1rem;
}

.main{
max-width: 1200px;
margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.card_image {
height: auto;
max-width: 100%;
vertical-align: middle;
}

.btn {
color: #ffffff;
padding: 0.8rem;
font-size: 14px;
text-transform: uppercase;
border-radius: 4px;
font-weight: 400;
display: block;
width: 100%;
cursor: pointer;
border: 1px solid rgba(255, 255, 255, 0.2);
background: transparent;
}

.btn:hover {
background-color: rgba(255, 255, 255, 0.12);
}

.cards {
display: flex;
flex-wrap: wrap;
list-style: none;
margin: 0;
padding: 0;
}

.cards_item {
display: flex;
padding: 1rem;
}

@media (min-width: 40rem) {
.cards_item {
    width: 50%;
    }
}

@media (min-width: 56rem) {
.cards_item {
    width: 33.3333%;
    }
}

.card {
background-color: white;
border-radius: 0.25rem;
box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
display: flex;
flex-direction: column;
overflow: hidden;
}

.card_content {
padding: 1rem;
background: linear-gradient(to bottom left, #090978 40%, #090978 100%);
}

.card_title {
color: #ffffff;
font-size: 1.1rem;
font-weight: 700;
letter-spacing: 1px;
text-transform: capitalize;
margin: 0px;
}

.card_text {
color: #ffffff;
font-size: 0.875rem;
line-height: 1.5;
margin-bottom: 1.25rem;    
font-weight: 400;
}

.made_by{
font-weight: 400;
font-size: 13px;
margin-top: 35px;
text-align: center;
}

.opciones-contacto{
    width: 100%;
    max-width: 100%;
    display: grid;
    align-items: center;
    grid-gap: 50px;
    padding: 45px 0px;
    
}

.ubicacion{
    display: flex;
}
#datos{
    float: left;
    flex-direction: column;
    color: #090978;
}

#data{
    color: rgb(0, 0, 0);
}

.contactar {
    top: 20px;
}

form {
    width: 450px;
    margin: 20px;
    padding: 20px;
    background:rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 7px;
    font-family: monospace;
}

h2 {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}


input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    text-transform: uppercase; 
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background-color: #090978;
    color: white;
    padding: 10px;
}

#boton:hover {
    cursor: pointer;
    background-color: #2222b4;
}

@media (max-width: 480px) {
    .opciones-contacto {
        width: 90%;
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

.pie-pagina{
    width: 100%;
    background-color: rgb(254, 234, 234);
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 10px;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: #090978;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: left;
}

.pie-pagina .grupo-1 .box p{
    color: #272727;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #272799;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: #dc1d1d;
}

.pie-pagina .grupo-2{
    background-color: #070760;
    padding: 10px;
    text-align: center;
    color: #fff;
}

@media (max-width: 800px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie-pagina .grupo-1 .box img{
        display: none;
    }
}

.fundacion {
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

#titulo{
    color: rgb(18, 18, 82);
    justify-content: center;
}

.historia{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
}

.galeria{
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    background-color: #070760;
    padding: 20px;
    color: white;
}

.galeria figure img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media (max-width: 800px){
    .fundacion{
        display: flex;
        flex-direction: column;
    }
    .galeria figure img{
        width: 100%;
        height: 100%;
    }
}


a {
    text-decoration: none;
}

.main2 {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
}

.columns {
    display: flex;
    justify-content: space-around;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-column {
    flex: 3;
    height: 100%;
}


.article {
    background: white;
    color: #666;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: auto;
    margin: 10px;
}

.article-image {
    background: #eee;
    display: flex;
    padding-top: 75%;
    position: relative;
    width: 100%;
}

.article-image img {
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.article-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.article-title {
    color: #333;
    flex-shrink: 0;
    font-size: 1.4em;
    font-weight: bold;
    font-weight: 700;
    line-height: 1.2;
}

.article-content {
    flex: 1;
    margin-top: 5px;
}


@media screen and (min-width: 800px) {
    .columns,
    .column {
    display: flex;
}
}

@media screen and (max-width: 500px) {
    
    .columns{
        flex-direction: column;
    }
}
